@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-background: var(--background);

  --color-ring: var(--ring);
  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-stopped: var(--stopped);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0 0 none);

  --card: #101010;
  --card-foreground: white;

  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: white;

  --secondary: hsl(0, 0%, 96%);
  --secondary-foreground: hsl(220 15% 10%);

  --muted: #101010;
  --muted-foreground: oklch(0.64 0 none);

  --accent: #ee6018;
  --accent-light: #ff9966;
  --accent-foreground: white;

  --destructive: oklch(0.577 0.245 27.325);

  --border: #494949;
  --ring: oklch(0.705 0.015 286.067);

  --success: #5cc181;
  --warning: #e9980c;
  --stopped: #cc5454;
}

@layer base {
  * {
    @apply border-border outline-ring/50 text-primary-foreground;
  }
  body {
    @apply bg-background antialiased;
  }
  button {
    cursor: pointer !important;
  }
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.cross {
  background-color: var(--muted);
  background-image: url("/img/bg-lines.png");
  background-repeat: repeat;
  background-size: 40px 40px;
  background-position: center;
}

.border-debug {
  border: 2px solid red !important;
}

.glass-card {
  @apply bg-card/50 backdrop-blur-xl border border-border/50;
}
